ELASTICSEARCH_URL=https://your-elasticsearch-url-here
ELASTICSEARCH_API_KEY=your_elasticsearch_api_key_here

OAK_API_KEY=your_oak_api_key_here

AI_PROVIDER=openai
OPENAI_API_KEY=your_openai_api_key_here

# A UUID that we set
SEARCH_API_KEY=your_search_api_key_here

# Set to true to enable logging of web vitals in the browser console
NEXT_PUBLIC_WEB_VITALS_LOGGING=true

# Controls visibility of the search fixture toggle in the UI (defaults to true)
NEXT_PUBLIC_ENABLE_FIXTURE_TOGGLE=true
