[**@oaknational/oak-curriculum-sdk v0.0.0-development**](../../../README.md)

---

[@oaknational/oak-curriculum-sdk](../../../README.md) / [validation/types](../README.md) / ValidationResult

# Type Alias: ValidationResult\<T\>

> **ValidationResult**\<`T`\> = [`ValidationSuccess`](../interfaces/ValidationSuccess.md)\<`T`\> \| [`ValidationFailure`](../interfaces/ValidationFailure.md)

Defined in: packages/sdks/oak-curriculum-sdk/docs/\_typedoc_src/validation/types.ts:67

## Type Parameters

### T

`T`
